@charset "utf-8";

#main{width:100%; height:auto;}
#main>.container{ position:relative;}
.link_wrap{width:100%; height:155px; overflow:hidden;}
#prev{position:absolute; top:50px; left:-50px;}
#prev>button{border:0; background:#00000000;}
#prev>button>i{font-size:3em; color:#777777;}
#next{position:absolute; top:50px; right:-50px;}
#next>button{border:0; background:#00000000;}
#next>button>i{font-size:3em; color:#777777;}

.link_wrap>ul{width:115%; height:100%; display:flex; justify-content:space-between; align-items:center; text-align:center; transition:all 0.3s;}
.link_wrap>ul>li>a{display:block;}
.link_wrap>ul>li>a:hover>p{border-color:#dddddd; background:#eeeeee;}
.link_wrap>ul>li>a:hover>span{color:#333333;}
.link_wrap>ul>li>a>p{width:90px; height:90px; border:1px solid #e7e7e7; background:#f8f8f8; border-radius:30px; display: flex; align-items:center; justify-content:center;}
.link_wrap>ul>li>a>p>img{width: 100%; height: 100%;}
.link_wrap>ul>li>a>span{line-height:40px; font-size:0.9em; font-weight:bold; color:#333333;} 

.slide_wrap{width:100%; height:500px; background:#eee; position:relative;}
.slide_wrap>.s1{width:100%; height:100%; background:url(../img/vis-banner1.svg) no-repeat; position:relative; color:#ffffff; display: flex; align-content:center; flex-wrap:wrap;}
.slide_wrap>.s1::before{content:" "; position: absolute; background:#000000; top:0; left:0; right:0; bottom:0; width:100%; height:100%; opacity:0.5;}
.slide_wrap>.s1>p{width:100%; text-align:center; font-weight:bold; position:relative;}
.slide_wrap>.s1>.txt1{font-size:2.7em;}
.slide_wrap>.s1>.txt2{font-size:1.3em; margin:25px 0;}
.slide_wrap>.s1>.txt3>a{font-size:1.1em; display: flex; width:140px; height:45px; margin:0 auto; border:1px solid #ffffff; border-radius: 25px; justify-content:center; align-items:center; box-sizing:border-box; padding-bottom:3px;}

.slide_wrap>.s2{width:100%; height:100%; background:url(../img/vis-banner.jpg) no-repeat; display:flex; align-content:center; flex-wrap:wrap;}
.slide_wrap>.s2>p{width:1224px; margin:0 auto; font-weight:bold; text-align:left;}
.slide_wrap>.s2>.txt1{font-size:2.7em;}
.slide_wrap>.s2>.txt1>.txt1_span1{font-size:0.7em;}
.slide_wrap>.s2>.txt1>.txt1_span2{color:#4FD66E; font-size:1.1em;}
.slide_wrap>.s2>.txt2{font-size:1.3em; padding:25px 0; color:#777777;}
.slide_wrap>.s2>.txt3>a{display:flex; width:160px; height:50px; background:#333333; color:#ffffff; display:flex; align-items:center; justify-content:center; border-radius:25px;}

/* slide */
.main_slide_wrap{width: 100%; height: 440px; overflow: hidden;}
.slide{position: relative; display: flex;}
.slide>a{position: absolute;}
.slide img{display: block; height: 100%; width: 100%;}
.s2{left: 100%;}
.s3{left: 200%;}
.s4{left: 300%;}

#contents{width:100%; height:auto;}
#contents>.container{padding:100px 0; box-sizing:border-box;}
#contents>.container>div{margin-bottom:60px;}
.con1{width:100%; height:650px;}
#contents .tit{width:100%; height:80px; display: flex; flex-wrap:wrap; align-content:space-around; text-align:center;}
#contents .tit>a{display: block; width:100%; font-size:1.6em; font-weight:bold;}
#contents .tit>p{width:100%; color:#777777;}
#contents .tit>span{width:100%; color:#818181; font-size:1.4em; font-weight:bold;}

.product_wrap{width:100%; height:550px; display: flex; flex-wrap:wrap; justify-content:space-between; align-content: space-around;}
.product_box{width:24%;}
.product_box>a{display:block; width:100%;}
.pro_img{width:100%; height:300px; overflow:hidden; border-radius:15px;}
.pro_img>li{width:100%; height:100%;}
.pro_img>li:hover>img{transform:scale(1.1);}
.pro_img img{width:100%; transition:all 0.3s;}
.pro_tit{width:100%; height:50px; line-height:50px; font-weight:bold; font-size: 1.1em; border-bottom:1px solid #e7e7e7;}
.pro_txt{width:100%; padding:10px 0; color:#777777; font-size: 0.9em;}

.con2{width:100%; height:auto; background: #014e2e; color: #ffffff; border-radius: 50px;}
.gshop_wrap{width:100%; height:auto; display: flex; flex-wrap:wrap; justify-content:space-around; margin-top:30px;}
.gshop_box{width:23%; margin-bottom:50px; border: 2px solid #ffffff; border-radius: 20px;}
.gs_img{width:100%; height:280px;}
.gs_img>li{width:100%; height:100%; overflow:hidden; border-radius:15px;}
.gs_img>li:hover>img{transform:scale(1.1); opacity: 0.7;}
.gs_img>li>img{width:100%; height:100%; transition:all 0.3s;}
.gs_txt{width:100%; font-weight:bold;  margin-top: 10px; padding: 0 10px;}
.gs_txt span{white-space: nowrap; text-overflow: ellipsis;overflow: hidden; width: 90%;}
.gs_txt>li>p{margin:10px 0; }
.gs_txt>li{display: flex; }
.gs_txt .sale{color: #ff0000; margin-right: 10px; font-size: 1.2em;}
.gs_txt .cost{color: #d1d1d1; text-decoration: line-through; font-size: 0.92em; margin-right: 10px; margin-top: 12px;}
.gs_txt .price{width: 100%; height: 30px;}

.deel_wrap{width:100%; height:auto; display: flex; flex-wrap:wrap; justify-content:space-between; background: #ebadad; border-radius: 50px; color: #ffffff; padding: 10px; box-sizing: border-box;}
.deel_box{width:49%; margin-bottom:30px;}
.deel_img{width:100%; background:#f7f7f7; border-radius:10px; overflow:hidden}
.deel_img img{display: block; width: 100%; height: 100%;}
.deel_img:hover img{transform:scale(1.1); }
.deel_img>li>img{width:100%; transition:all 0.3s;}
.deel_box2{width: 100%; height: 250px;}
.deel2_img{display: flex; justify-content: space-between;}
.deel2_img img{width: 190px; border-radius: 10px;}

.c_slide_wrap{width:100%; height:230px;  }
.c_slide{width:100%; display: flex; }
.c_slide a{padding: 5px; box-sizing: border-box;}
.c_slide img{border-radius:10px; display: block; width: 100%; height: 100%; }


.md_wrap{width:100%; display: flex; height: 600px;}
.md{width: 550px; height: 550px;}
.md img{border-radius: 20px; display: block; width: 100%; height: 100%; }
.md_box{width: 100%;  display: flex;flex-wrap: wrap; margin-left: 100px;}
.md_box img{border-radius: 20px; width: 200px; margin-right: 30px;}
.md_box p{margin-top: 10px;}
.md_box span{font-weight: bold;}
.md_box a:hover img{opacity: 0.7;}



.vegan_wrap{width:100%; display: flex; justify-content:space-between; flex-wrap:wrap;}
.vegan_box{width:24%;}
.vegan_box:hover .vegan_img img{transform:scale(1.1);}
.vegan_img{width:100%; height:290px; overflow:hidden; border-radius:10px;}
.vegan_img img{width:100%; transition:all 0.3s;}
.vegan_tit{width:100%; border-bottom:2px solid #e7e7e7;}
.vegan_tit>li{font-weight:bold; margin:10px 0;}
.vegan_tit>li>span{font-size:0.9em; color: #777777;}
.vegan_icon{display: flex; justify-content:space-between; font-weight:bold; margin:10px 0;}
.vegan_icon>li{display: flex; align-items:center;}
.vegan_icon>li>img{margin-right:10px;}

.item_banner{width:100%; display: flex; justify-content: space-between; height: 200px; }
.item_banner a{padding: 10px;}
.item_banner img{width:100%; height: 100%; display: block; border-radius: 20px;}




